Repository Kindjhali/Opnix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix

Fix README installation instructions
  README.md
Due: none

Complete README rewrite with current features
  README.md
Due: none

Redesign README with MOLE branding and feature focus
  README.md
Due: none

Fix installation instructions for project integration
  README.md
Due: none

Fix installation for non-npm package
  README.md
Due: none

Prepare Opnix for npm publishing
  .npmignore
  README.md
  bin/opnix.js
  package.json
Due: eslint --fix --max-warnings 0

Add comprehensive usage guide to README
  README.md
Due: none

Fix npm package.json formatting after publish
  package.json
Due: none

Fix postinstall script for global npm installations (v1.0.1)
  package.json
  scripts/postinstall.js
Due: eslint --fix --max-warnings 0

Move runtime dependencies from devDependencies (v1.0.2)
  package.json
  pnpm-lock.yaml
Due: none

Fix theme.neon reference in installCli.js (v1.0.3)
  package.json
  scripts/installCli.js
Due: eslint --fix --max-warnings 0

Fix index.html serving with absolute paths (v1.0.4)
  package.json
  routes/root.js
Due: eslint --fix --max-warnings 0

Work around Express 5.x sendFile bug (v1.0.5)
  package.json
  routes/root.js
Due: eslint --fix --max-warnings 0

Fix CSS loading - use Vite-built CSS file (v1.0.6)
  package.json
  public/index.html
Due: none

Fix terminal rendering: add node-pty rebuild to postinstall
  scripts/postinstall.js
Due: eslint --fix --max-warnings 0

Fix output buffering in npx: force stdout flush
  server.js
Due: eslint --fix --max-warnings 0

Fix XTerm.js terminal UI issues (v1.1.28)
  CHANGELOG-v1.1.28.md
  package.json
  public/css/xterm-fixes.css
  public/index.html
  src/components/XTerminal.vue
  src/main.js
Due: eslint --fix --max-warnings 0, stylelint --fix

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{js,mjs}) or (any of: *.vue)
  stylelint --fix: any of: *.{css,scss}
